
.help {
    border: none;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/help-ic.png);
    background-size: cover;
    background-color: transparent;
    margin-right: 3px;
    cursor: pointer;
}

.help:hover {
    background-image: url('/assets/images/help-ic-hover.png');
}

.close {
    border: none;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-image: url('/assets/images/close-ic.png');
    background-size: cover;
    background-color: transparent;
    margin-right: 3px;
    cursor: pointer;
}

.close:hover {
    background-image: url('/assets/images/close-ic-hover.png');
}

.help-container {
    position: absolute;
    right: 5px;
    margin-top: 15px;
}

.title {
    display: inline-block;
    margin: 12px;
    color: #8a2b2b;
}

header {
  background-image: url(https://addons.cdn.mozilla.net/static/img/docs/themes/header.jpg);
  color: white;
  border-bottom: 4px solid #8a2b2b;
}

.hide {
    display: none;
}

app-help {
  z-index: 2;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
